moviepy
matplotlib
einops
diffusers
timm
numpy<2.0.0
sentencepiece
accelerate
transformers
datasets
ftfy
tensorboard
flamingo_pytorch
git+https://github.com/openai/CLIP.git
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
lightning==2.1.0
pytorch-lightning==2.1.0
opencv-python-headless
regex
tqdm
decord
